@tailwind base;
@tailwind components;
@tailwind utilities;


nav {
    font-size: 16px !important;
    line-height: 1.5 !important;
}

footer a {
	font-size: 16px !important;
}

.jp-Notebook {
	padding: 0 !important;
}
